<!DOCTYPE html>
<html>

<head>
    <title>
        <%= error.status%>
    </title>
    <link rel="stylesheet" href="assets/stylesheets/style.css">
</head>

<body>
    <h1></h1>
    <p>
        <%= error.stack%>
    </p>
</body>

</html>