<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title%>
    </title>
    <link rel="stylesheet" href="assets/stylesheets/style.css">
</head>

<body>
    <h1>Hello!</h1>
    <p>Welcome to
        <%= title%>
    </p>
    <p>
        <%- content%>
    </p>
    <% if(id>10) {%>
        <p>id:
            <%= id%>
        </p>
        <%} %>
</body>

</html>